/mods/
/installer/linux/input/
/installer/linux/output/
/installer/linux/debtemp/
/installer/linux/installtemp/
/installer/linux/*.deb
/installer/windows/input/
/installer/windows/output/
/installer/windows/installtemp/
/installer/windows/*.exe
XLingPaperPDFTemp/
*.*~
.settings
